<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heu.ksc.dao.KnowledgeMapper">
    <resultMap id="knowledgeMap" type="com.heu.ksc.entity.Knowledge">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="kName" column="k_name"/>
        <result property="abstractInfo" column="abstract"/>
        <result property="content" column="content"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="validTime" column="valid_time"/>
        <result property="invalidTime" column="invalid_time"/>
        <result property="commentCount" column="comment_count"/>
        <result property="collectCount" column="collect_count"/>
        <result property="keywords" column="keywords"/>
        <result property="score" column="score"/>
        <result property="username" column="username"/>
        <result property="checkedName" column="checked_name"/>
        <result property="errInfo" column="err_info"/>
        <result property="preTime" column="pre_time"/>
    </resultMap>
    <resultMap id="knowledgeVo" type="com.heu.ksc.entity.Knowledge">
        <result property="kName" column="k_name"/>
        <result property="abstractInfo" column="abstract"/>
        <result property="content" column="content"/>
        <result property="validTime" column="valid_time"/>
        <result property="invalidTime" column="invalid_time"/>
        <result property="commentCount" column="comment_count"/>
        <result property="collectCount" column="collect_count"/>
        <result property="keywords" column="keywords"/>
    </resultMap>


    <sql id="insertFields">
        user_id, k_name, abstract, content, `type`, status, valid_time, invalid_time, comment_count, collect_count, keywords,score
    </sql>
    <sql id="selectFields">
        id ,user_id, k_name, abstract, content, `type`, status, valid_time, invalid_time, comment_count, collect_count, keywords,score
    </sql>
    <select id="list" resultMap="knowledgeMap">
        select k.id, k.user_id, k.k_name, k.abstract, k.content, k.type, k.status, k.valid_time,k.checked_name,
        k.invalid_time, k.comment_count, k.collect_count, k.keywords,k.score, u.real_name as username
        from knowledge k, user u
        where status = 4 and k.user_id = u.id and k.is_deleted = 0
        <if test="queryKey != null and queryKey != '' ">
            and (content like CONCAT('%',#{queryKey},'%')
            or keywords like CONCAT('%',#{queryKey},'%')
            or k_name like CONCAT('%',#{queryKey},'%'))
        </if>
        <if test="deptId != null and deptId != '' ">
            and u.dept_id = #{deptId}
        </if>

    </select>

    <select id="checkList" resultMap="knowledgeMap">
        select k.id, k.user_id, k.k_name, k.abstract, k.content, k.type, k.status, k.valid_time,
               k.invalid_time, k.comment_count, k.collect_count, k.keywords,k.score, u.real_name as username
        from knowledge k, user u
        where (status = 1 or status = 2) and k.user_id = u.id and k.is_deleted = 0
        <if test="queryKey != null and queryKey != '' ">
            and (k.content like CONCAT('%',#{queryKey},'%')
            or k.keywords like CONCAT('%',#{queryKey},'%')
            or k.k_name like CONCAT('%',#{queryKey},'%'))
        </if>
    </select>

    <insert id="insert" parameterType="com.heu.ksc.entity.Knowledge">
        insert into knowledge (<include refid="insertFields"></include>)
        values (#{userId}, #{kName}, #{abstractInfo}, #{content}, #{type}, #{status}, #{validTime}, #{invalidTime}, #{commentCount}, #{collectCount}, #{keywords}, #{score})
    </insert>

    <select id="selectById" resultMap="knowledgeMap">
        select k.id, k.user_id, k.k_name, k.abstract, k.content, k.type, k.status, k.valid_time,
               k.invalid_time, k.comment_count, k.collect_count, k.keywords,k.score, u.real_name as username, k.checked_name, k.err_info
        from knowledge k, user u
        where k.id = #{id} and k.user_id = u.id and k.is_deleted = 0
    </select>

    <update id="updateById" parameterType="com.heu.ksc.entity.Knowledge">
        update knowledge set status = #{status}, valid_time = #{validTime}, invalid_time = #{invalidTime},
                             abstract = #{abstractInfo}, content = #{content},
                             keywords = #{keywords}, checked_name = #{checkedName}
        where id = #{id}
    </update>

    <update id="edit" parameterType="com.heu.ksc.entity.Knowledge">
        update knowledge set status = #{status}
        <if test="kName != null and kName != ''">
            ,k_name = #{kName}
        </if>
        <if test="abstractInfo != null and abstractInfo != ''">
            ,abstract = #{abstractInfo}
        </if>
        <if test="content != null and content != ''">
            ,content = #{content}
        </if>
        <if test="keywords != null and keywords != ''">
            ,keywords = #{keywords}
        </if>
        <if test="errInfo != null and errInfo != ''">
            ,err_info = #{errInfo}
        </if>
        where id = #{id}
    </update>

    <select id="getMyKnowledgeList" resultMap="knowledgeMap">
        select k.id, k.user_id, k.k_name, k.abstract, k.content, k.type, k.valid_time,
        k.comment_count, k.collect_count, k.keywords, u.real_name as username, k.status
        from knowledge k, user u
        where k.user_id = #{userId} and k.user_id = u.id and k.is_deleted = 0
        <if test="queryKey != null and queryKey != '' ">
            and (content like CONCAT('%',#{queryKey},'%')
            or keywords like CONCAT('%',#{queryKey},'%')
            or k_name like CONCAT('%',#{queryKey},'%'))
        </if>
    </select>

    <update id="collect" parameterType="com.heu.ksc.entity.Knowledge">
        update knowledge set collect_count = collect_count + 1 where id = #{id}
    </update>

    <update id="cancelCollect" parameterType="com.heu.ksc.entity.Knowledge">
        update knowledge set collect_count = collect_count - 1 where id = #{id}
    </update>

    <select id="myCollectList" resultMap="knowledgeMap">
        select k.id, k.user_id, k.k_name, k.abstract, k.content, k.type, k.valid_time,
               k.comment_count, k.collect_count, k.keywords, u.real_name as username
        from knowledge k, user u, user_collect uc
        where k.id = uc.k_id and uc.user_id = #{userId} and k.user_id = u.id  and uc.is_deleted = 0 and k.is_deleted = 0
        <if test="queryKey != null and queryKey != '' ">
            and (content like CONCAT('%',#{queryKey},'%')
            or keywords like CONCAT('%',#{queryKey},'%')
            or k_name like CONCAT('%',#{queryKey},'%'))
        </if>
    </select>

    <update id="deleteKnowledge" parameterType="java.lang.Integer">
        update knowledge set is_deleted = 1 where id = #{id}
    </update>

    <select id="getMyMistakeKnowledge" resultMap="knowledgeMap">
        select k.id, k.user_id, k.k_name, k.abstract, k.content, k.type, k.valid_time,
        k.comment_count, k.collect_count, k.keywords, u.real_name as username, k.status, k.err_info
        from knowledge k, user u
        where k.user_id = #{userId} and k.user_id = u.id and k.is_deleted = 0 and k.status = 4
        <if test="queryKey != null and queryKey != '' ">
            and (content like CONCAT('%',#{queryKey},'%')
            or keywords like CONCAT('%',#{queryKey},'%')
            or k_name like CONCAT('%',#{queryKey},'%'))
        </if>
    </select>

    <update id="addCommentCount" parameterType="java.lang.Integer">
        update knowledge set comment_count = comment_count + 1 where id = #{knowledgeId}
    </update>

    <select id="autoValidList" resultMap="knowledgeMap">
        select * from konwledge where status = 3 and valid_time &lt;= #{validTime}
    </select>
</mapper>